footer.my-md-5
	.container.d-flex
		img.mr-4(src='assets/images/logo-base.svg', alt='Logo', width='43', height='34')
		div.w-100
			hr.w-100.bg-dark.mb-5
			nav
				.row
					.col-12.col-md
						p.mb-4
							b © 2018. VPL GmbH
					
						p.mb-1
							a.underlined(href='mailto:vpl-corporation@vpl-bau.de') vpl-corporation@vpl-bau.de
						p.mb-0 +88 91 734 7213
		
						a.btn.btn-link.link-callback.pl-0.py-1.font-weight-bold.underlined(href='#callbackForm') Заказать обратный звонок
						p
							b
								a(href='#') Partner
							|
							span.mx-4 |
							|
							b
								a(href='#') Facebook
					.col-12.col-md
						ul.nav.flex-column
							li.nav-item
								a.nav-link(href='#') Design
							li.nav-item
								a.nav-link(href='#') Fenster
								ul.nav.flex-md-column.flex-lg-row
									li.nav-item
										a.nav-link(href='#') PVC-Fenster
									li.nav-item
										a.nav-link(href='#') Aluminium-Fenster
									li.nav-item
										a.nav-link(href='#') Holzfenster
									li.nav-item
										a.nav-link(href='#') Fensterläden
									li.nav-item
										a.nav-link(href='#') Zubehör Fenster
							li.nav-item
								a.nav-link(href='#') Türen
								ul.nav.flex-md-column.flex-lg-row
									li.nav-item
										a.nav-link(href='#') PCV-Tür
									li.nav-item
										a.nav-link(href='#') Aliminium-Tür
									li.nav-item
										a.nav-link(href='#') Holztür
									li.nav-item
										a.nav-link(href='#') Zubehör zur Tür
					.col-12.col-md
						ul.nav.flex-column
							li.nav-item
								a.nav-link(href='#') Schiebefenster
								ul.nav.flex-md-column.flex-lg-row
									li.nav-item
										a.nav-link(href='#') PVC-Fenster
									li.nav-item
										a.nav-link(href='#') Aluminium-Fenster
									li.nav-item
										a.nav-link(href='#') Zubehör
							li.nav-item
								a.nav-link(href='#') Rollläden
								ul.nav.flex-md-column.flex-lg-row
									li.nav-item
										a.nav-link(href='#') Einstellbare Rollläden
									li.nav-item
										a.nav-link(href='#') Aufsatzrollläden
									li.nav-item
										a.nav-link(href='#') Unterputzrollläden
									li.nav-item
										a.nav-link(href='#') Screen
									li.nav-item
										a.nav-link(href='#') Die Fassadenjalousien
									li.nav-item
										a.nav-link(href='#') Rollläden Zubehör
