extends footer.py.pug

block footer-extras
	nav
		.row
			.col-12.col-md-5.col-lg-4
				p.mt-2.mb-4
					b © 2018. VPL GmbH
				p.mb-1
					a.underlined(href='mailto:vpl-corporation@vpl-bau.de') vpl-corporation@vpl-bau.de
				p.mb-0 +88 91 734 7213

				a.btn.btn-link.link-callback.pl-0.py-1.font-weight-bold.underlined(href='#callbackForm') Заказать обратный звонок
				p
					b
						a(href='#') Partner
					|
					span.mx-4 |
					|
					b
						a(href='#') Facebook
			.col-12.col-md-7.col-lg-4
				include menu-1.py.pug
			.col-12.col-md-7.offset-md-5.col-lg-4.offset-lg-0
				include menu-2.py.pug