extends footer.py.pug

block extras
	nav
		.row.align-items-center
			.col-12.col-sm-6
				.py-3
					b © 2018. VPL GmbH
			.col-12.col-sm-6
				nav.navbar-expand
					.navbar-nav.d-flex.flex-row.font-weight-bold.flex-shrink-1.justify-content-sm-end
						include menu-extras.py.pug