ul.nav.flex-column
	li.nav-item
		a.nav-link(href='#') Schiebefenster
		ul.nav.nav-submenu
			+list-submenu-items('shiebefenster')
	li.nav-item
		a.nav-link(href='#') Rollläden
		ul.nav.nav-submenu
			+list-submenu-items('rollladen')