ul.nav.flex-column
	li.nav-item
		a.nav-link(href='catalog-category-schiebefenster') Schiebefenster
		ul.nav.nav-submenu
			+list-submenu-items('shiebefenster')
	li.nav-item
		a.nav-link(href='catalog-category-rollladen') Rollläden
		ul.nav.nav-submenu
			+list-submenu-items('rollladen')