ul.nav.flex-column
	li.nav-item
		a.nav-link(href='#') Schiebefenster
		ul.nav.flex-md-column.flex-lg-row
			li.nav-item
				a.nav-link(href='#') PVC-Fenster
			li.nav-item
				a.nav-link(href='#') Aluminium-Fenster
			li.nav-item
				a.nav-link(href='#') Zubehör
	li.nav-item
		a.nav-link(href='#') Rollläden
		ul.nav.flex-md-column.flex-lg-row
			li.nav-item
				a.nav-link(href='#') Einstellbare Rollläden
			li.nav-item
				a.nav-link(href='#') Aufsatzrollläden
			li.nav-item
				a.nav-link(href='#') Unterputzrollläden
			li.nav-item
				a.nav-link(href='#') Screen
			li.nav-item
				a.nav-link(href='#') Die Fassadenjalousien
			li.nav-item
				a.nav-link(href='#') Rollläden Zubehör