a.navbar-item.nav-link(href='#')
	| Partner
a.navbar-item.nav-link(href='#')
	| Kontakt
a.navbar-item.nav-link.py-0.d-flex.align-items-center(href='#')
	img(src='assets/images/logo-fb.svg', width='24', height='24')