ul.nav.flex-column
	li.nav-item
		a.nav-link(href='product-design.html') Design
	li.nav-item
		a.nav-link(href='catalog-category-fenster.html') Fenster
		ul.nav.nav-submenu
			+list-submenu-items('fenster')
	li.nav-item
		a.nav-link(href='catalog-category-turen.html') Türen
		ul.nav.nav-submenu
			+list-submenu-items('turen')