ul.nav.flex-column
	li.nav-item
		a.nav-link(href='#') Design
	li.nav-item
		a.nav-link(href='#') Fenster
		ul.nav.flex-md-column.flex-lg-row
			li.nav-item
				a.nav-link(href='#') PVC-Fenster
			li.nav-item
				a.nav-link(href='#') Aluminium-Fenster
			li.nav-item
				a.nav-link(href='#') Holzfenster
			li.nav-item
				a.nav-link(href='#') Fensterläden
			li.nav-item
				a.nav-link(href='#') Zubehör Fenster
	li.nav-item
		a.nav-link(href='#') Türen
		ul.nav.flex-md-column.flex-lg-row
			li.nav-item
				a.nav-link(href='#') PCV-Tür
			li.nav-item
				a.nav-link(href='#') Aliminium-Tür
			li.nav-item
				a.nav-link(href='#') Holztür
			li.nav-item
				a.nav-link(href='#') Zubehör zur Tür