ul.nav.flex-column
	li.nav-item
		a.nav-link(href='#') Design
	li.nav-item
		a.nav-link(href='#') Fenster
		ul.nav.nav-submenu
			+list-submenu-items('fenster')
	li.nav-item
		a.nav-link(href='#') Türen
		ul.nav.nav-submenu
			+list-submenu-items('turen')