.wrapper.pt-4
	nav.navbar.navbar-expand-xl.navbar-light.px-0
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse')
			span.navbar-toggler-icon
		a.navbar-brand.d-block.d-xl-none.mx-auto(href='/')
			img(src='assets/images/logo-base.svg', alt='Logo', width='43', height='34')
		div.collapse.navbar-collapse#navbarCollapse.align-items-end.flex-wrap
			.navbar-nav.flex-shrink-0
				a.navbar-item.nav-link.active(href='#')
					| Fenster
				.navbar-item.dropdown
					a.nav-link.dropdown-toggle#navbar-dropdown(href='catalog-category-turen.html', role='button', data-toggle='dropdown')
						| Türen
					.dropdown-menu
						a.dropdown-item(href='#')
							| PCV-Tür
						a.dropdown-item(href='#')
							| Aliminium-Tür
						a.dropdown-item(href='#')
							| Holztür
						a.dropdown-item(href='#')
							| Zubehör zur Tür
				a.navbar-item.nav-link(href='#')
					| Schiebefenster
				a.navbar-item.nav-link(href='#')
					| Rollläden
				a.navbar-item.nav-link(href='#')
					| Design


			a.navbar-brand.pb-0.text-center.d-none.d-xl-block(href='/')
				+logo()
			
			block extras