nav
	.row.align-items-center
		.col
			a.navbar-brand.pb-0(href='/')
				img(src='assets/images/logo.svg', alt='Logo', width='50', height='70')
		.col
			include menu-1.py.pug
		.col
			include menu-2.py.pug
