nav
	.row.align-items-center
		.col-12.col-md-4.flex-grow-0.flex-md-grow-1
			a.navbar-brand.pb-0(href='/generic-front.html')
				+logo()
		.col.mt-5.mt-md-0
			.row
				block navbar-content
//-
	.d-block.d-md-none
		include navbar.py.pug
