.navbar-nav {
  line-height: 1.95rem;
}
.navbar-nav .navbar-item.nav-link:first-child {
  padding-left: 0;
}
.navbar-nav .navbar-item.nav-link:last-child {
  padding-right: 0;
}
.nav-link {
  color: #000 !important;
}
.navbar-collapse > * {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
.navbar-collapse .navbar-brand {
  margin-right: 0;
  min-width: 200px;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown.show a.nav-link {
  color: #fff !important;
  position: relative;
  z-index: 1005;
  font-weight: 600;
}
.dropdown-menu {
  background-color: #000;
  padding-bottom: 3rem;
}
.dropdown-menu .dropdown-item {
  color: #fff;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #000;
  text-decoration: underline;
}
#carouselMain {
  max-width: 1536px;
}
#carouselMain .carousel-caption {
  top: 0;
  bottom: 0;
  color: #000;
  font-size: 1.2rem;
}
#carouselMain .carousel-caption .lead {
  font-weight: 400;
}
#carouselMain .carousel-caption button {
  font-size: 1.9rem;
  color: #000;
}
#carouselMain .carousel-caption button:hover {
  color: #fff;
}
#carouselMain .carousel-caption .phone {
  font-size: 2.25rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 43%;
  height: 32%;
}
.carousel-control-prev-icon {
  background-image: url("../images/carousel-arrow-prev.svg");
}
.carousel-control-next-icon {
  background-image: url("../images/carousel-arrow-next.svg");
}
.underlined {
  text-decoration: underline;
}
footer {
  margin: 10rem 0 5rem;
}
footer hr {
  height: 1.35rem;
  margin-top: 0.6rem;
}
footer nav a,
footer nav .btn-link {
  color: #000;
}
footer nav a:hover,
footer nav .btn-link:hover {
  color: #000;
}
footer nav .nav .nav-link {
  padding-left: 0;
  font-weight: bold;
}
footer nav .nav .nav-link:hover {
  text-decoration: underline;
}
footer nav .nav-item .nav {
  padding-left: 1.5rem;
  padding-right: 5rem;
}
footer nav .nav-item .nav .nav-item:not(:last-child) {
  position: relative;
}
footer nav .nav-item .nav .nav-item:not(:last-child):after {
  content: '|';
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  color: #555;
}
footer nav .nav-item .nav .nav-link {
  font-weight: initial;
  padding-top: 0;
  padding-left: 1rem;
}
.card-title {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}
.card-text {
  line-height: 2rem;
}
.product-showcase {
  text-align: center;
  height: 100%;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 10% 1rem;
}
.product-showcase .card-title {
  margin-top: 2.5rem;
}
.product-showcase .card-body {
  flex-grow: 0;
}
.product-showcase img {
  flex-grow: 0;
}
.product-description {
  border: 0;
  height: 100%;
}
.product-description .card-img-top {
  margin-bottom: 2rem;
}
.product-description .card-text {
  padding-left: 1.5rem;
}
.product-description .card-body {
  flex-grow: 0;
}
#callbackForm {
  display: none;
  font-size: 1.5rem;
}
#callbackForm .form-control {
  font-size: 1.5rem;
  padding-top: 2rem;
}
#callbackForm .btn {
  padding-top: 2rem;
  font-size: inherit;
  background: none;
  border: 2px solid #9a9a9a;
  color: #9a9a9a;
}
#callbackForm .custom-control-label::before {
  border: 1px solid #000;
  top: 0.45rem;
}
#callbackForm .custom-control-label::after {
  top: 0.45rem;
}
#callbackForm .link-close {
  cursor: pointer;
  font-size: 5rem;
  line-height: 1rem;
  font-weight: 300;
}
