.navbar > .navbar-brand {
  margin-right: 0;
}
.navbar-nav {
  line-height: 1.95rem;
}
.navbar-nav .navbar-item.nav-link:first-child {
  padding-left: 0;
}
.navbar-nav .navbar-item.nav-link:last-child {
  padding-right: 0;
}
.nav-link {
  color: #000 !important;
}
.navbar-collapse > * {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
.navbar-collapse .navbar-brand {
  margin-right: 0;
  min-width: 200px;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown.show a.nav-link {
  color: #fff !important;
  position: relative;
  z-index: 1005;
  font-weight: 600;
}
.dropdown-menu {
  background-color: #000;
  padding-bottom: 3rem;
}
.dropdown-menu .dropdown-item {
  color: #fff;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #000;
  text-decoration: underline;
}
.carousel {
  max-width: 1536px;
}
#carouselMain .carousel-caption {
  top: 0;
  bottom: 0;
  color: #000;
  font-size: 1.2rem;
}
#carouselMain .carousel-caption .lead {
  font-weight: 400;
}
#carouselMain .carousel-caption button {
  font-size: 1.9rem;
  color: #000;
}
#carouselMain .carousel-caption button:hover {
  color: #fff;
}
#carouselMain .carousel-caption .phone {
  font-size: 2.25rem;
}
#carouselDesign .carousel-indicators {
  position: static;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}
#carouselDesign .carousel-indicators li {
  height: unset;
  width: unset;
  text-indent: unset;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0.5rem;
  font-weight: bold;
}
#carouselDesign .carousel-indicators li.active {
  border: 1px solid #000;
}
#carouselDesign .carousel-inner {
  width: 75%;
  margin: 0 auto;
}
#carouselDesign .palette-buttons {
  list-style: none;
  padding: 0;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#carouselDesign .palette-buttons li {
  padding: 0.9%;
  border: 0.09vw solid transparent;
}
#carouselDesign .palette-buttons li.active {
  border-color: #000;
}
#carouselDesign .palette-buttons li img {
  width: 3.5vw;
  max-width: 54px;
  min-width: 22px;
  height: auto;
}
#carouselDesign .palette-buttons li img:hover {
  cursor: pointer;
}
#carouselDesign .carousel-control-prev,
#carouselDesign .carousel-control-next {
  margin-top: 5%;
  align-items: flex-start;
}
#carouselDesign .carousel-control-prev-icon,
#carouselDesign .carousel-control-next-icon {
  height: 45%;
  background-size: contain;
}
#carouselDesign .carousel-control-prev {
  justify-content: flex-start;
}
#carouselDesign .carousel-control-prev-icon {
  background-position-x: left;
}
#carouselDesign .carousel-control-next {
  justify-content: flex-end;
}
#carouselDesign .carousel-control-next-icon {
  background-position-x: right;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 43%;
  height: 32%;
}
.carousel-control-prev-icon {
  background-image: url("../images/carousel-arrow-prev.svg");
justify-content
}
.carousel-control-next-icon {
  background-image: url("../images/carousel-arrow-next.svg");
}
a[href^="mailto:"],
a.link-callback {
  text-decoration: underline;
}
footer {
  margin: 10rem 0 5rem;
}
footer hr {
  height: 1.35rem;
  margin-top: 0.6rem;
}
nav a,
nav .btn-link {
  color: #000;
}
nav a:hover,
nav .btn-link:hover {
  color: #000;
}
nav .nav .nav-link {
  padding-left: 0;
  font-weight: bold;
}
nav .nav .nav-link:hover {
  text-decoration: underline;
}
nav .h5 span {
  margin-left: 2rem;
}
nav .nav-submenu {
  padding-left: 1.5rem;
  padding-right: 5rem;
}
nav .nav-submenu .nav-item:not(:last-child) {
  position: relative;
}
nav .nav-submenu .nav-item:not(:last-child):after {
  content: '|';
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  color: #555;
}
nav .nav-submenu .nav-link {
  font-weight: initial;
  padding-top: 0;
  padding-left: 1rem;
}
nav .vendor-filter {
  font-size: 1.1rem;
}
nav .vendor-filter a {
  margin: 0 1.5rem;
  text-decoration: underline;
}
nav .vendor-filter img {
  max-height: 30px;
}
.card-title {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}
.card-text {
  line-height: 2rem;
}
.showcase-item {
  text-align: center;
  height: 100%;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 10% 1rem;
}
.showcase-item > a {
  display: block;
  max-height: 35%;
  max-width: 75%;
  width: 100%;
  height: 100%;
}
.showcase-item > a img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.showcase-item .card-title {
  margin-top: 2.5rem;
}
.showcase-item .card-body {
  flex-grow: 0;
}
.showcase-item img {
  flex-grow: 0;
  max-width: 75%;
  max-height: 35%;
}
.showcase-item ul {
  text-align: left;
}
.showcase-description {
  border: 0;
  height: 100%;
}
.showcase-description .card-img-top {
  margin-bottom: 2rem;
}
.showcase-description .card-text {
  padding-left: 1.5rem;
}
.showcase-description .card-body {
  flex-grow: 0;
}
#callbackForm {
  font-size: 1.5rem;
}
#callbackForm .form-control {
  font-size: 1.5rem;
  padding-top: 2rem;
}
#callbackForm .btn {
  padding-top: 2rem;
  font-size: inherit;
  background: none;
  border: 2px solid #9a9a9a;
  color: #9a9a9a;
}
#callbackForm .custom-control-label::before {
  border: 1px solid #000;
  top: 0.45rem;
}
#callbackForm .custom-control-label::after {
  top: 0.45rem;
}
#callbackForm .link-close {
  cursor: pointer;
  font-size: 5rem;
  line-height: 1rem;
  font-weight: 300;
}
#callbackFront #callbackForm {
  display: none;
}
#callbackContacts #callbackForm .link-close {
  display: none;
}
.showcase-categories .col-md-6:nth-of-type(1) .card {
  background-color: #d3d3d3;
}
.showcase-categories .col-md-6:nth-of-type(2) .card {
  background-color: #c9eeff;
}
.showcase-categories .col-md-6:nth-of-type(4) .card {
  background-color: #e4d4ff;
}
.showcase-categories .col-md-6:nth-of-type(5) .card {
  background-color: #f4f6b5;
}
.showcase-categories .col-md-6:nth-of-type(6) .card {
  background-color: #ffd7b0;
}
#contacts p {
  line-height: 2em;
  margin-bottom: 2em;
}
#navbarProduct .navbar-brand {
  min-width: unset;
}
#navbarProduct h5 {
  margin-bottom: 0;
}
#navbarProduct h5 span {
  margin-left: 2rem;
}
#navbarProduct h5 span:last-of-type {
  font-weight: bold;
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs .nav-link {
  padding: 2rem 4rem 1rem 2.5rem;
  font-size: 1.6rem;
  border: 0;
}
.nav-tabs .nav-link.active {
  background-color: #efefef;
}
.nav-tabs li:not(:first-child) {
  border-left: 2px solid #efefef;
}
.tab-content {
  background-color: #efefef;
  padding: 2rem 4rem 5rem;
}
