extends main.tpl.py.pug

block content
	.py-1.py-md-2
	#contacts.bg-light
		.wrapper.py-4.py-md-8
			.row
				.col.col-md-6
					h1.h1.text-md-right
						block title
			.row
				.col.col-md-6.offset-md-6
					.row.mt-4.mt-md-8
						block info
	.wrapper
		block content-extra


block footer
	include ../templates/includes/footer-simple.py.pug