extends html.tpl.py.pug

block navbar
	include includes/navbar-product.py.pug

block footer
	include includes/footer-extended.py.pug

block content
	.px-0
		block slider-product
		.bg-light#callbackFront
			include ../templates/includes/callback-form.py.pug
	block content-product

append scripts-delayed
	script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')