extends html.tpl.py.pug

block navbar
	include includes/navbar-product.py.pug

block footer
	include includes/footer-extended.py.pug

block content
	.px-0.my-4
		block slider-product
		.bg-light#callbackFront
			include ../templates/includes/callback-form.py.pug
	block content-product