extends ../templates/catalog.tpl.py.pug

block navbar-content
	+navbar-catalog-items('rollladen', 'Rollläden')
	
block content
	.wrapper.showcase.showcase-subcategories(data-color='#ffd7b0')
		.row.align-items-stretch
			+showcase-item-wrapper
				+showcase-item('rollladen/einstellbare-rollladen.png', 'Einstellbare Rollläden')
			+showcase-item-wrapper
				+showcase-item('rollladen/aufsatzrollladen.png', 'Aufsatzrollläden')
			+showcase-item-wrapper
				+showcase-item('rollladen/unterputzrollladen.png', 'Unterputzrollläden')
			+showcase-item-wrapper
				+showcase-item('rollladen/screen.png', 'Screen')
			+showcase-item-wrapper
				+showcase-item('rollladen/die-fassadenjalousien.png', 'Die Fassadenjalousien')
			+showcase-item-wrapper
				+showcase-item('rollladen/rollladen-zubehor.png', 'Rollläden Zubehör')
			