extends ../templates/catalog.tpl.py.pug

block navbar-content
	.col
		ul.catalog-breadcrumbs
			li
				a(href="#") Produkte:
			li
				a(href="#") Fenster:
			li
				| PVC Fenster
		.vendor-filter.my-4.grayscale
			.vendor-filter-title Wählen:
			a(href='#')
				img(src='assets/images/logos/aluplast.png')
			a(href='#')
				img(src='assets/images/logos/eko-sun.png')
			a(href='#')
				img(src='assets/images/logos/salamander.png')
			a(href='#') All
		ul.nav.nav-submenu.flex-row
			each item in pvcTuren
				li.nav-item
					a.nav-link(href='#') #{item}
					
block content
	.wrapper.showcase.showcase-products(data-color='#c9eeff')
		.row.align-items-stretch
			- let items = pvcTuren
			each item, i in items
				.col
					- let itemCode = item.toLowerCase().replace(/ /g, "-");
					+showcase-item(`fenster/pvc-fenster/${itemCode}.png`, item)
						ul
							li System mit 3 Dichtungen
							li System 6 Kammern
							li Bautiefe 85 mm
							li maximale Verglasung 51 mm
