extends ../templates/catalog.tpl.py.pug
	
block navbar-content
	.col
		include ../templates/includes/menu-1.py.pug
	.col
		include ../templates/includes/menu-2.py.pug

block content
	.wrapper.showcase.showcase-categories.my-2.my-md-5
		.row.my-5.align-items-stretch
			.col-md-6.col-xl-4
				+showcase-item('design.png', 'Design')
			.col-md-6.col-xl-4
				+showcase-item('fenster.png', 'Fenster')
			.col-12.col-md-6.col-xl-4
				+showcase-description('Produkte')
			.col-md-6.col-xl-4
				+showcase-item('turen.png', 'Turen')
			.col-md-6.col-xl-4
				+showcase-item('shiebefenster.png', 'Shiebefenster')
			.col-md-6.col-xl-4
				+showcase-item('rollladen.png', 'Rollladen')