extends ../templates/catalog.tpl.py.pug
	
block navbar-content
	.col-6
		include ../templates/includes/menu-1.py.pug
	.col-6
		include ../templates/includes/menu-2.py.pug

block content
	.wrapper.showcase.showcase-categories
		.row.align-items-stretch
			+showcase-item-wrapper
				+showcase-item('design.png', 'Design')
			+showcase-item-wrapper
				+showcase-item('fenster.png', 'Fenster')
			.col
				+showcase-description('Produkte')
			+showcase-item-wrapper
				+showcase-item('turen.png', 'Turen')
			+showcase-item-wrapper
				+showcase-item('shiebefenster.png', 'Shiebefenster')
			+showcase-item-wrapper
				+showcase-item('rollladen.png', 'Rollladen')