extends ../templates/product.tpl.py.pug

block breadcrumbs
	li
		a(href="#")
			| Türen:
	li
		a(href="#")
			| PVC-Tür:
	li
		| PVC-Eingangstüren

block slider-product
	include ../templates/includes/carousel-turen.py.pug

block content-product
	.wrapper.my-5.my-md-10
		ul#productDetailsTab.nav.nav-tabs(role='tablist')
			li.nav-item
				a#tab-specification.nav-link.active(data-toggle='tab', href='#specification', role='tab', aria-controls='specification', aria-selected='true')
					| Spezifikation
			li.nav-item
				a#tab-coloring.nav-link(data-toggle='tab', href='#coloring', role='tab', aria-controls='coloring', aria-selected='false')
					| Farbgebung
			li.nav-item
				a#tab-technology.nav-link(data-toggle='tab', href='#technology', role='tab', aria-controls='technology', aria-selected='false')
					| Technologie
		#productDetailsTabContent.tab-content
			#specification.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='specification-tab')
				p
					b Erhältlich sind folgende PVC-Eingangstürsysteme:
				ul
					li Aluplast: Ideal 4000, Ideal 5000, Ideal 8000
					li Salamander: Streamline 76, BluEvolution 92
					li Eko Sun 70
				p
					b Erhältliche Ausführungen:
				ol
					li System mit Aluminiumschwelle und thermischem Trennelement
					li Schwellenfreies System mit absenkender Dichtung
					li Zusätzliche Abdichtungsbürste im unteren Flügelteil
				p
					| Alle Ausführungen sind standardmäßig mit einer (mit Schlüssel verschließbar) Dreipunktverriegelung ausgerüstet. Optional ist eine Montage zusätzlicher Aushebelungsschutzbolzen möglich.
			#coloring.tab-pane.fade(role='tabpanel', aria-labelledby='coloring-tab')
				p Coloring details go here
			#technology.tab-pane.fade(role='tabpanel', aria-labelledby='technology-tab')
				p Technology description here

