body
	min-width 350px

.navbar-nav
	line-height 1.95rem
	.navbar-item.nav-link
		&:first-child
			padding-left 0		
		&:last-child
			padding-right 0

.nav-link
	color #000 !important

.navbar-collapse
	& > *
		flex-basis 0
		flex-grow 1
		flex-shrink 1
	.navbar-brand
		margin-right 0

.dropdown-toggle::after
	display none

.dropdown.show
	a.nav-link
		color #fff !important
		position relative
		z-index 1005
		font-weight 600

.dropdown-menu
	background-color #000
	padding-bottom 3rem
	.dropdown-item
		color #fff
		&:hover
			background-color #000
			text-decoration underline



#carouselMain
	max-width 1536px
	.carousel-caption
		top 0
		bottom 0
		color #000
		font-size 1.2rem
		.lead
			font-weight 400
		button
			font-size 1.9rem
			color @color
			&:hover
				color #fff
		.phone
			font-size 2.25rem

.carousel-control-prev-icon,
.carousel-control-next-icon
	//width: 97px
	//height: 192px
	width 43%
	height 32%

.carousel-control-prev-icon
	background-image: url('../images/carousel-arrow-prev.svg')

.carousel-control-next-icon 
	background-image: url('../images/carousel-arrow-next.svg')


.underlined
	text-decoration underline

footer
	hr
		height 1.35rem
		margin-top .6rem
	nav
		a,
		.btn-link
			color #000
			&:hover
				color @color
		.nav
			.nav-link
				padding-left 0
				font-weight bold
				&:hover
					text-decoration underline

		.nav-item
			.nav
				padding-left 1.5rem
				.nav-item:not(:last-child)
					position relative
					&:after
						content '|'
						display block
						position absolute
						top 0
						right -1px
						color #555
				.nav-link
					font-weight initial
					padding-top 0
					padding-left 1rem
				

// Product cards customization

.card-title
	font-size 2.25rem
	margin-bottom 1.5rem

.card-text
	line-height 2rem
	padding-bottom 5rem

.product-showcase
	text-align center
	height 100%
	border 0
	justify-content center
	align-items center
	padding 5rem 1rem 5rem
	.card-title
		margin-top 2.5rem
	.card-body
		flex-grow 0
	img
		flex-grow 0

.product-description
	border 0
	height 100%
	.card-img-top
		margin-bottom 2rem
	.card-text
		padding-left 1.5rem
	.card-body
		flex-grow 0


#callbackForm
	display none
	font-size 1.5rem
	.form-control
		font-size 1.5rem
		padding-top 2rem
	.btn
		padding-top 2rem
		font-size inherit
		background none
		border 2px solid #9a9a9a
		color #9a9a9a
	.custom-control-label
		$top = .45rem	
		&::before
			border 1px solid #000
			top $top
		&::after
			top $top
	.link-close
		cursor pointer
		font-size 5rem
		line-height 1rem
		font-weight 300


